
<div class="menu-wrap">
	<div class="container">
		<ul class="menu-list">
			<li><a href="http://localhost:2333/html/shopping_car.html">购物车</a><span class="cart-num">0</span>件</li>
			<li><a href="javascript:;">客服热线：400-7796－400</a></li>
			<li><a href="javascript:;">帮助中心</a></li>
			<li class="mypba">
				<a href="javascript:;">我的PBA▼</a>
				<ul class="pba-list">
					<li><a href="javascript:;">我的订单</a></li>
					<li><a href="javascript:;">我的分享</a></li>
					<li><a href="javascript:;">我的积分</a></li>
					<li><a href="javascript:;">我的售后</a></li>
				</ul>
				
			</li>
			<li><a href="http://localhost:2333/html/login.html">登录</a></li>
			<li><a href="http://localhost:2333/html/register.html">注册</a></li>
		<div id="login-name">
			<span class="login-out" style="cursor: pointer;"></span>
			<span class="username"></span>			
		</div>
				
		</ul>
	</div>
</div>

<div class="header">
	<div class="container">
		<div class="header-wrap">
			<a class="header-logo" href="javascript:;">
				<img src="/images/logo.png"></a>
			<div class="nav">
				<ul>
					<li id="shouye"><a href="http://localhost:2333/">首页</a></li>
					<li id="all"><a href="http://localhost:2333/html/list.html">所有商品</a></li>
					<li><a href="http://localhost:2333/html/list.html">养肤护肤</a></li>
					<li><a href="http://localhost:2333/html/list.html">彩妆香水</a></li>
					<li><a href="http://localhost:2333/html/list.html">工具洗护</a></li>
					<li><a href="http://localhost:2333/html/list.html">美容仪器</a></li>
					<li><a href="http://localhost:2333/html/list.html">美容食品</a></li>
					<li><a href="javascript:;">新品上市</a></li>
					<li><a href="javascript:;">顾问查询</a></li>
				</ul>
			</div>
			<div class="search">
				<input type="text" placeholder="搜索你想要的产品" />
				<div class="search-btn">
					<a href="javascript:;"><img src="/images/search_btn.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>