footer{
    width: 1263px;
    height: 300px;
    background-color:#fafafa;
    padding-top: 50px;
}
footer .f-wrap{
    width:1240px;
    height:162px;
    margin: 0 auto;

}
footer .f-wrap .link{
    float: left;
    width: 895px;
    height: 162px;
    .top-link{
        width: 910px;
        height: 20px;
        font-size: 15px;
           a{
               margin-right: 2%;
               color: #535353;
               &:hover{
                   color:#E60041;
               }
           }
         
    }
    
    .bottom-link{
        margin-top: 12px;
        img{
            margin-top: 15px;
            margin-right: 21px;
        }
    }
}
footer .f-wrap .img{
    float:left;
    width: 343px;
    height: 162px;
    img{
        height: 100%;
    }
       
}

footer p{
    font-size: 15px;
    color: #666;
    padding-top: 30px;
    text-align: center;
}

footer .police{
    text-align: center;
    img{
        width: 16px;
        margin-right: 5px;
       vertical-align: middle;
    }
    a{
    font-size: 12px;
    color: #939393;
    display: inline-block;
    line-height: 30px;
    }
}
